@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-200;
  @apply text-gray-900;
  overflow: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* HSL format: H S% L% */
  --primary: 201 92% 36%;
  --primary-foreground: #ffffff;

  --secondary: 29 82% 57%;
  --secondary-foreground: #f3f4f6;

  --destructive: 354 85% 38%;
  --destructive-foreground: #ffffff;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 201 92% 36%;
  --primary-foreground: #ffffff;

  --secondary: 29 82% 57%;
  --secondary-foreground: #f3f4f6;

  --destructive: 354 85% 38%;
  --destructive-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* map base vars to Tailwind theme vars */
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: var(--destructive-foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.ProseMirror {
  min-height: 200px;
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #9ca3af;
  pointer-events: none;
  height: 0;
  float: left;
}


input::-ms-reveal,
input::-webkit-textfield-decoration-container {
  display: none !important;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.animate-wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 1.5s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}

.tiptap-editor a {
  @apply text-sky-600 underline hover:text-sky-800;
}

