@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-200;
  @apply text-gray-900;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* HSL format: H S% L% */
  --primary: 201 92% 36%;
  --primary-foreground: #ffffff;

  --secondary: 29 82% 57%;
  --secondary-foreground: #f3f4f6;

  --destructive: 354 85% 38%;
  --destructive-foreground: #ffffff;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 201 92% 36%;
  --primary-foreground: #ffffff;

  --secondary: 29 82% 57%;
  --secondary-foreground: #f3f4f6;

  --destructive: 354 85% 38%;
  --destructive-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* map base vars to Tailwind theme vars */
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: var(--destructive-foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
